.room-data{

  border-bottom: solid 1px #cacaca;
  margin-bottom:0px;
  margin-left:8px;
  padding-bottom: 12px;

  .room-icon{
    font-size:48px;
    width:120px;
  }

  .room-title{
    font-size:24px;
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
    cursor: default;

  }

  .room-description{
    padding: 5px;
    color: #cacaca;
  }
}