.room-data{

  border-bottom: solid 1px #cacaca;
  margin-bottom:0px;
  margin-left:8px;

  .room-icon{
    font-size:32px;
  }

  .room-title{
    font-size:24px;
    font-family: 'Open Sans', sans-serif;
    margin-top:10px;
  }

  .room-description{
    margin-left:42px;
  }
}