.youBox{
  display: block;
  padding:20px;
  background-color:#eeeeee;
  background-image: url(https://static.opentok.com/webrtc/v2.6.0/images/rtc/audioonly-silhouette.svg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 76%;
}