@mixin btn-border($background-color){
    background-color: $background-color;
    border-color: $background-color !important;
    .x-btn-inner-default-toolbar-small{
        color: $lightest-color;
    }
    &:hover{
        .x-btn-inner-default-toolbar-small,.x-btn-inner-default-small{
            color: $background-color;
        }
        .x-btn-icon-el-default-small,.x-btn-icon-el-default-toolbar-small{
            color: $background-color;
        }
        background-color: transparent;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($h-shadow,$v-shadow,$blur,$spread,$shadow-color) {
    $value: $h-shadow, $v-shadow, $blur, $spread, $shadow-color;
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    box-shadow: $value;
}

*:focus {
    outline:0 !important;
}

.x-menu-header {
    z-index: 0 !important;
}

.x-css-shadow{
    box-shadow:none !important;
}

.alignRight {
    float: right;
}

.boldFont {
    font-weight: bold;
}



.auth-locked-window{
    .x-window-body {
        background-image: url('/classic/resources/auth/lock-screen-background.jpg'),
                          url('/packages/local/auth/resources/lock-screen-background.jpg');
        background-size:cover;
        background-repeat:repeat;
    }

    &.x-window-default {
        border: none;
        border-radius: 0;
        padding: 0;
    }
}


