
//main view
$panel-navigation-background-color: #313947;
$panel-navigation-selected-color: #353f50;

$color: #888;
$base-color:#35caf6;
$panel-header-font-size: 14px;
$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;

$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;

$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa;

$navigation-popup-item-hover-background-color: #353e4f;
$navigation-popup-item-color: #9E9F9F;

$button-toolbar-background-color: transparent;
$button-toolbar-border-color: transparent;
$button-toolbar-hover-background-color: #a1a1a2;

$font-weight: normal;

//login screen
$lock-screen-login-background-color: #83c748;
$lock-screen-create-account-background-color: #a1a1a2;
$lock-screen-trigger-color: #e5e5e5;

//blank page
$blank-page-background-color: #ebebeb;
$blank-page-color :#cacaca;