.material-divider {
    border-top: 1px solid $material-color-black-dividers;
}

.material-subheader {
    color: $material-color-black-secondary;
    font-weight: 500;
}

.material-button-border {
    border-bottom: 1px solid $material-color-black-dividers !important;
}